In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
dw_file = "Resources/dw.csv"
dw_df = pd.read_csv(dw_file)
dw_df.head()

,Overall rank,Year,Country,Region,Score,GDP,Social_Support,Health_life_expectancy,Freedom_to_choices,Generosity,Perceptions_of_corruption
0,1,2015,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.297,0.420
1,2,2015,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.436,0.141
2,3,2015,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.341,0.484
3,4,2015,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.347,0.365
4,6,2015,Finland,Western Europe,7.406,1.290,1.318,0.889,0.642,0.234,0.414

In [7]:
kaggel_file = "Resources/kaggel.csv"
kaggel_df = pd.read_csv(kaggel_file)
kaggel_df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Australia,2005,7.341,10.659,0.968,71.4,0.935,NaN,0.390,0.843,0.238
1,Belgium,2005,7.262,10.745,0.935,69.9,0.924,NaN,0.598,0.796,0.260
2,Brazil,2005,6.637,9.438,0.883,63.3,0.882,NaN,0.745,0.818,0.302
3,Canada,2005,7.418,10.652,0.962,71.3,0.957,0.256,0.503,0.839,0.233
4,Czech Republic,2005,6.439,10.324,0.919,67.0,0.865,NaN,0.901,0.723,0.258